* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-page .row {
  background: linear-gradient(
    -45deg,
    #b5c6e0,
    #ebf4f5,
    #ffeda0,
    #ebf4f5,
    #a9c3ea,
    #9fb8bb
  );
  background-size: 800% 800%;
  animation: gradient 20s infinite alternate;
  height: 100vh;
}
.form-page .row .form-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.form-page .row .form-wrapper .form-logo h1 {
  font-family: "Rubik", sans-serif;
}
.form-page .row .form-wrapper .form-main .form-button button {
  width: 100%;
  background-color: #272343;
  color: #fff !important;
  border-radius: 5px;
  padding: 8px 0;
  border: none;
}
.form-page .row .form-wrapper .form-main .register-wrapper a {
  font-weight: bold;
  text-decoration: none;
}
