.btn-blue {
  background-color: #002743;
  color: white;
}

.list-blue {
  background-color: rgba(0, 39, 67, 0.8);
  color: blue;
}

.login-card {
  background-color: #fff;
}
.login-card .logo img {
  width: 60px;
}
.login-card form input {
  height: 3rem;
}
.login-card form .btn {
  background-color: #002743;
  height: 3rem;
}
.login-card .login-footer a {
  text-decoration: none;
  color: #002743;
}

.navbar {
  background-color: #002743;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.navbar .container .logo-humburger .logo .logo-image {
  width: 60px;
}
.navbar .container .button-logout .dropdown .dropdown-toggle::after {
  content: "";
  color: white;
}

.aside-sidebar {
  background-color: #002743;
  width: 20em;
  height: 100%;
  position: absolute;
  left: -20em;
  transition: 0.7s;
  color: white;
  z-index: 98;
}
.aside-sidebar .sidebar .link-sidebar ul {
  list-style: none;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .nav-link:hover {
  background-color: white;
  color: #002743;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .btn-logout {
  color: white;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .btn-logout:hover {
  background-color: white;
  color: #002743;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .accordion-button {
  background-color: white;
  color: #002743;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .collapsed {
  background-color: #002743;
  color: white;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .accordion-button:hover {
  background-color: white;
  color: #002743;
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .accordion-button:hover.accordion-button::after {
  content: "";
  background-image: url(../img/Dropdownbiru.png);
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .accordion-button::after {
  content: "";
  background-image: url(../img/Dropdownbiru.png);
}
.aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .collapsed::after {
  content: "";
  background-image: url(../img/Dropdown.png);
}

.aside-sidebar.active {
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-wrapper {
  position: relative;
}
.main-wrapper .main-content {
  min-height: 100vh;
}
.main-wrapper .main-content .container .profile-identity .profile-section {
  background-color: white;
}
.main-wrapper .main-content .container .profile-identity .profile-section .profile-image-wrapper img {
  object-fit: contain;
  margin: auto;
  width: 10em;
  height: 10em;
}
.main-wrapper .main-content .container .profile-identity .identity-section {
  background-color: white;
}
.main-wrapper .main-content .container .profile-identity .education-section {
  background-color: white;
}

.footer {
  background-color: #002743;
  color: white;
}

.main-content .container .beranda-section .wrapper-item .beranda-item .beranda-item-wrapper {
  background-color: white;
}

.profile-dosen .profile-wrapper .wrapper-body {
  background-color: white;
}
.profile-dosen .profile-wrapper .wrapper-body img {
  object-fit: contain;
  margin: auto;
  width: 14em;
  height: 14em;
}

.table-section .wrapper-table {
  background-color: white;
}

.profile-dosen .profile-wrapper .wrapper-body {
  background-color: #fff;
}
.profile-dosen .profile-wrapper .wrapper-body .img {
  object-fit: contain;
  width: 10em;
  width: 10em;
  margin: auto;
}
.profile-dosen .profile-wrapper .wrapper-body .button .col-12 .button-edit-wrapper,
.profile-dosen .profile-wrapper .wrapper-body .button .col-12 .button-hapus-wrapper {
  width: 5em;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f8f9fa !important;
}

.penelitian-dosen .penelitian-wrapper .wrapper-body {
  background-color: #fff;
}
.penelitian-dosen .penelitian-wrapper .wrapper-body .img {
  object-fit: cover;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .penelitian-dosen .penelitian-wrapper .wrapper-body .table th {
    width: 45% !important;
  }
}
@media screen and (min-width: 720px) and (max-width: 992px) {
  .penelitian-dosen .penelitian-wrapper .wrapper-body .table th {
    width: 30%;
  }
}
.pengabdian-dosen .pengabdian-wrapper .wrapper-body {
  background-color: #fff !important;
}
.pengabdian-dosen .pengabdian-wrapper .wrapper-body .img {
  object-fit: cover;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .pengabdian-dosen .pengabdian-wrapper .wrapper-body .table th {
    width: 45% !important;
  }
}
@media screen and (min-width: 720px) and (max-width: 992px) {
  .pengabdian-dosen .pengabdian-wrapper .wrapper-body .table th {
    width: 30%;
  }
}
.main-content .container .table-book-section .book-table-wrapper {
  background-color: white;
}

.main-content .container .table-journal-section .journal-table-wrapper {
  background-color: white;
}

.main-content .container .table-makalah-section .makalah-table-wrapper {
  background-color: white;
}

.main-content .container .table-haki-section .haki-table-wrapper {
  background-color: white;
}

.main-content .container .table-kebijakan-section .kebijakan-table-wrapper {
  background-color: white;
}

.main-content .container .table-penghargaan-section .penghargaan-table-wrapper {
  background-color: white;
}

.main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button {
  width: 50%;
}
.main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .accordion-item .accordion-button {
  width: 50%;
}
.main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .accordion-button::after {
  content: "";
  background-image: url(../img/Dropdownbiru.png);
}
.main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .collapsed::after {
  content: "";
  background-image: url(../img/Dropdown.png);
}
.main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .accordion-body .link-wrapper .nav-link {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .navbar {
    background-color: #002743;
    color: white;
  }
  .navbar .container .logo-humburger .logo .logo-image {
    width: 50px;
  }
  .main-wrapper {
    position: relative;
  }
  .main-wrapper .aside-sidebar {
    background-color: #002743;
    width: 17em;
    height: 100%;
    position: absolute;
    left: -17em;
    transition: 0.7s;
    color: white;
  }
  .main-wrapper .aside-sidebar .sidebar .link-sidebar ul {
    list-style: none;
  }
  .main-wrapper .aside-sidebar .sidebar .link-sidebar ul .link-item .nav-link:hover {
    background-color: white;
    color: #002743;
  }
  .main-wrapper .aside-sidebar .sidebar .link-sidebar ul .link-item .accordion .accordion-item .accordion-header .accordion-button::after {
    content: "";
    background-image: url(../img/Dropdown.png);
  }
  .main-wrapper .aside-sidebar.active {
    left: 0;
  }
  .main-content {
    min-height: 82vh;
  }
  .main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button {
    width: 100%;
  }
  .main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .accordion-item .accordion-button {
    width: 100%;
  }
  .main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .accordion-button::after {
    content: "";
    background-image: url(../img/Dropdownbiru.png);
  }
  .main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .collapsed::after {
    content: "";
    background-image: url(../img/Dropdown.png);
  }
  .main-content .container .table-section .wrapper-table .table-profil .col-12 .table-responsive .table tbody tr .button .accordion .accordion-body .link-wrapper .nav-link {
    width: 100%;
  }
}