.pengabdian-dosen {
  .pengabdian-wrapper {
    .wrapper-body {
      background-color: #fff;
      .img {
        object-fit: cover;
        margin: auto;
      }
    }
  }
}

// responsive table pengabdian
@media screen and (max-width: 720px) {
  .pengabdian-dosen {
    .pengabdian-wrapper {
      .wrapper-body {
        .table {
          th {
            width: 45% !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 992px) {
  .pengabdian-dosen {
    .pengabdian-wrapper {
      .wrapper-body {
        .table {
          th {
            width: 30%;
          }
        }
      }
    }
  }
}
