.profile-dosen {
  .profile-wrapper {
    .wrapper-body {
      background-color: #fff;
      img {
        object-fit: contain;
        margin: auto;
        width: 14em;
        height: 14em;
      }
    }
  }
}
