// color
$green: #00d6af;
$blue: #002743;
$navy: #002743;

// font
$primary: "Poppins", sans-serif;

.btn-blue {
  background-color: $blue;
  color: white;
}

.list-blue {
  background-color: rgba($color: $blue, $alpha: 0.8);
  color: white;
}
